<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <script src="js/cloud.js"></script>
    <div class="container-fluid">
      <div class="ml-3">
        <img src="https://file.diplomeo-static.com/file/00/00/01/34/13432.svg" alt="Logo" class="d-block" id="logo"/>
      </div>
    </div>
    <div class="container" id="slogen">
      <h1>Welcome to section TOIEC</h1>
    </div>
    <div class="container">
      <div class="login">
        <div class="login_title">
          <span style="color:#D3D7F7;font-family: 'Cantarell', sans-serif;">Login</span>
        </div>
        <div class="login_fields">
          <div class="login_fields_user">
            <i class="fa fa-user" style="font-size:24px; color:#D3D7F7;"></i>
            <input type="text" name="user" placeholder="User name">
          </div>
          <div class="login_fields_password">
            <i class="fa fa-lock" style="font-size:24px; color:#D3D7F7;"></i>
            <input type="text" placeholder="Password" name="mdp">
          </div>
          <div class="login_fields_submit">
            <input type="button" name="submitbutton" value="Log in">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
