<!doctype html>
<html>
    <head>
        <title>Profil</title>
        <meta charset="utf-8" />
    </head>
    <body>
        Vous êtes <b>{{ user.name }}</b> et votre mot de passe est <code>{{ user.password }}</code>.
    </body>
</html>