<br/>
<button class="btn btn-primary" >Retour</button>
<div class="mx-auto" style="width: 270px;">
<h4>Questionnaire TOEIC</h4>
		
		<h5 class=Listening> Listening Part </h5> <br/>

            {{#each questions}}
			    {{>question question=.}}
            {{/each}}
		<br/><h5 class="Reading"> Reading Part </h5><br/>
			<input class="btn btn-primary" type="submit" value="Envoyer">
		
</div>