<a href="/admin/sessions" class="btn btn-link">&LeftArrow; Retour</a>

<h1 class="title">Gérer une session d'examen

    {{#if (eq session.state 0)}}
        <span class="badge badge-warning">En attente</span>
    {{/if}}

    {{#if (eq session.state 1)}}
        <span class="badge badge-success">En cours</span>
    {{/if}}

    {{#if (eq session.state -1)}}
        <span class="badge badge-danger">Terminé</span>
    {{/if}}

</h1>
<hr>

<h3>Gestion :</h3>
<br>

    {{#if (neq session.state -1)}}
        Nombre d'étudiants connectés : <strong id="connectedCount">0</strong>
        <br><br>

    {{else}}

        <button class="btn btn-block btn-primary" id="downloadPDF">Télécharger les résultats</button>
        <input type="hidden" id="sessionId" data-sessionid="{{session.id}}">
        <br>

    {{/if}}

    {{#if (eq session.state 0)}}
        <form method="POST">
            <input type="hidden" name="action" value="start">
            <button class="btn btn-block btn-success">Lancer la session</button>
        </form>

        <br>
    {{/if}}

    {{#if (eq session.state 1)}}
        <form method="POST">
            <input type="hidden" name="action" value="stop">
            <button class="btn btn-block btn-warning">Terminer la session</button>
        </form>

        <br>
    {{/if}}
    
    <form method="POST">
        <input type="hidden" name="action" value="delete">
        <button class="btn btn-block btn-danger"
        
            {{#if (eq session.state 1)}}
                disabled
            {{/if}}

        >Supprimer la session</button>
    </form>

<br>
<h3>Configuration :</h3>

<form method="POST">

    <input type="hidden" name="action" value="update">
    
    {{>sessionProperties disabled=(neq session.state 0)}}

    <button type="submit" class="btn btn-primary" id="submitButton"
    
        {{#if (neq session.state 0)}}
            disabled
        {{/if}}

    >Sauvegarder la session</button>
</form>

<script type="text/javascript" src="/static/js/groupsCheckboxs.js"></script>

{{#if (neq session.state -1)}}

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io("/admin");

        socket.on("connected-count", (data) => {
            document.getElementById("connectedCount").innerText = data;
        });

        socket.on('connect', () => {

            socket.emit("join-session", "{{session.id}}");
        });
        
    </script>

{{else}}

    <script src="/static/js/pdf.js"></script>

{{/if}}