<a href="/admin/sessions" class="btn btn-link">&LeftArrow; Retour</a>

<h1 class="title">Créer une session d'examen</h1>
<hr>

<form method="POST">
   
    {{>sessionProperties}}

    <button type="submit" class="btn btn-primary" id="submitButton">Créer la session</button>
</form>

<script type="text/javascript" src="/static/js/groupsCheckboxs.js"></script>