<h1 class="title">Gérer une session d'examen</h1>
<hr>

<form method="POST">

    <input type="hidden" name="action" value="update">
    
    {{>sessionProperties}}

    <button type="submit" class="btn btn-primary" id="submitButton">Sauvegarder la session</button>
</form>

<script type="text/javascript" src="/static/js/groupsCheckboxs.js"></script>