<h1 class="title">
	Page d'accueil professeur
</h1>

<div class="container">
	<div class="row">
		<div class="col block-sujet">
			<h4 class="title">Voir les sujets et créer un sujet</h2>
			<a class="btn btn-success" href="/admin/subjects">Gérer les sujets</a>
		</div>
		<div class="col block-session">
			<h4 class="title">Voir les sessions et créer un session</h2>
			<a class="btn btn-success" href="/admin/subjects">Gérer les sessions</a>
		</div>
		<div class="w-100"></div>
		<div class="col block-session">
			<h4 class="title">Voir les statistiques</h2>
			<a class="btn btn-success" href="/admin/statistiques">Gérer les sessions</a>
		</div>
	</div>
</div>
