<h1 class="title">Sujets d'examen</h1>
<hr>

<a class="btn btn-success" href="/admin/subjects/create">Créer un sujet</a>
<br>
<br>

{{#if subjects.length}}
    <h3 class="text-center">Il y a des sujets d'examen</h3>
{{else}}

    <h3 class="text-center">Pas de sujets d'examen</h3>

{{/if}}