<h1>Statistiques</h1>
<hr>

<h2>Résultats par sujet</h2>
<canvas id="perSubjectChart"></canvas>

<h2>Résultats par spécialité</h2>
<canvas id="perSpecialtyChart"></canvas>

<script src="/static/js/adminCharts.js"></script>