<a class="btn btn-link" href="/student/sessions" >&LeftArrow; Retour</a>

{{#if (eq session.state -1)}}
    {{> studentSessionDisplayFinished}}
{{else}}
    {{> studentSessionDisplayWaitingOrProgress}}
{{/if}}