
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> ma progression</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <h1>ma progression</h1>
    <div style="width:75%">
    <canvas id="myChart"></canvas>
    </div>

    <script>

        fetch("/api/results/for/7").then((res) => res.json()).then((results) => {
            labels = results.map((el) => el.date)
            scores = results.map((session) => {
                let r = session.ExamResults.filter((result) => result.part == 1);
                if (r.length == 0) {
                    return 0;
                }
                return r.score;
            });
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
        
        type: 'line',

        // The data for our dataset
        data: {
        labels: {{labels}},
        datasets: [{
            label: 'My First dataset',
            //backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{scores}}
        }]
    },

    // Configuration options go here
    options: {}
    });
    </script>
</body>

</html>








