<div class="container">
  <div class="row">
    <div class="col-md-3" style="border-color: black;border-width: 2px;overflow:auto;border-style: solid">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1"
          checked>
        <label class="form-check-label" for="exampleRadios1">
          Sujet 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Sujet 2
        </label>
      </div>
    </div>
    <div class="col-md-9" style="border-color: black;border-width: 2px;overflow:auto;border-style: solid">
      <table class="table table-bordered">
        <h1 class="bd-title" id="content" style="text-align: center">Note : 200/200</h1>
        <thead>
          <tr>
            <th scope="col">Comprehension Orale :</th>
            <th scope="col">Comprehension Ecrite :</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> I - Photos : XX/XX
              <br> II - Questions - Réponses : XX/XX
              <br> III - Conversations : XX/XX
              <br> IV - Exposés : XX/XX</td>
            <td> V - Phrases incomplètes : XX/XX
              <br> VI - Textes à compléter : XX/XX
              <br> VII - Lecture : XX/XX </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<div style="border-color: black;border-width: 2px;overflow:auto;border-style: solid">
  <br>
  <center>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary"> EVOLUTION </button> <button type="button"
        class="btn btn-outline-primary"> MOYENNE </button>
    </div>
  </center>
  <br>
  <br>
  <div class="col-3">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-outline-primary"> Global </button>
      <button type="button" class="btn btn-outline-primary"> Compréhension Orale</button>
      <button type="button" class="btn btn-outline-primary"> Compréhension Ecrite</button>
    </div>
  </div>
  <br>
</div>

<br>

<div style="border-color: black;border-width: 2px;overflow:auto;border-style: solid">

  <br>

  <center>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary"> EVOLUTION </button> <button type="button"
        class="btn btn-outline-primary"> MOYENNE </button>
    </div>
  </center>

  <br>
  <br>

  <h1 class="bd-title" id="content" style="text-align: center">Note : 200/200</h1>

  <center>
    <div>
      Moyenne Compréhension orale : XX/XX
      Moyenne Compréhension écrite : XX/XX
      <br>
    </div>
  </center>
</div>