<h1>Progression générale</h1>
<hr>

<h2>Listening / Reading / Total</h2>
<canvas id="globalChart"></canvas>

<h2>Progression par partie</h2>
<canvas id="partsChart"></canvas>

<input type="hidden" id="student-id" data-userid="{{user.id}}">
<script src="/static/js/studentCharts.js"></script>