

    <h1>ma progression</h1>
    <div style="width:75%">
    <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>

        fetch("/api/results/for/{{user.id}}").then((res) => res.json()).then((results) => {
            var labels = results.map((el) => {
                let date = new Date(el.date);
                return ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();
            });

            function getScoresForPart(i) {
                return results.map((session) => {
                    let r = session.ExamResults.filter((result) => result.part == i);
            
                    if (r.length == 0) {
                        return 0;
                    }
                    return r[0].score;
                })
            }

            var datasets = [1, 2, 3, 4, 5, 6, 7].map((i) => {
                let scores = getScoresForPart(i)
                return {
                    label: `Part ${i}`,
                    borderColor: `rgb(${255 / 7 * (8 - i)}, 99, ${255/7*i})`,
                
                    data: scores
                }
            });
           
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            
                    type: 'line',

                    // The data for our dataset
                    data: {
                    labels: labels,
                    datasets,
                },
                // Configuration options go here
                options: {}
            });
        });
    </script>








