<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <title>
            {{name}} | TOEIC
        </title>
    </head>
    <body>
        {{> navbar}}
        <div class="container">
            <br />
            {{#each successes}}
                {{> alertSuccess success=this}}
            {{/each}}
            {{#each errors}}
                {{> alertError error=this}}
            {{/each}}
            {{{body}}}
        </div>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    </body>
</html>